<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='catalogstyle.css') }}" />

<h1> Catalog App <h1>

 <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

</head>

<body>
<div id="headerBar">
<!-- GOOGLE PLUS SIGN IN BUTTON-->

          <div id="signInButton" align = right>
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="462059015608-plv1p98m7502jn97naokiqe158o3cccv.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>
		</div>
<div id="result"></div>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/categories";
         }, 4000);
          
      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  }); } }
</script>

<div id="wrapper">
    <div id="sideBar">
    <h3>Categories</h3>
        <font color="red">
        {% for cat in categories %}
        <a href= '{{url_for('showItems', category_name= cat.name)}}'>{{ cat.name }}</a>
         <br>
       {% endfor %}
	   	</font>
	</div>
    
	<div id="mainContent">
		<h3>Latest Items </h3>
         <br>
           <font color="red">
         {% for i in items %}
           {{ i.title }}({{i.category.name}})
           <br>
        {% endfor %}
   	</font>
	</div>
</div>

</body>
</html>